<div class="collection_item">
    <div class="product_image_wrapper ">
      <a class="product-items" href="{{ product.url }}">
       
          <img
            class="product-item-img firstImage"
            src="{{ product.featured_image | img_url: 'master' }}"
            alt="{{ product.title }}">
          {% if product.images[1] %}
            <img
              class="product-item-img secondImage"
              src="{{ product.images[1] | product_img_url: 'master' }}"
              alt="{{ product.title }}">
  
          {% endif %}
           
      
            
            <div class="proudct-sale">
              {{ product.metafields.custom.custom_badge_text }}
            </div>
        
          {% if product.compare_at_price > product.price %}
            <div class="proudct-sale">
              On sale
            </div>
          {% endif %}
          
      </a>
      {% render 'proudct-grid-option-top',
        product: product,
    
    %}
    </div>

    <div class="product-item-p-text">
        <div class="d-flex justify-content-between align-items-top">
        
        
        
      <p class="product-item-text ">{{ product.title }}</p>
                <div class="price-wrapper">
                            {% if product.compare_at_price > product.price %}
                                <span class="sale-price">{{ product.price | money }}</span>
                                <span class="regular-price compare_at_price">
                                <del>{{ product.compare_at_price | money }}</del>
                                </span>
                            {% else %}
                                <span class="regular-price">{{ product.price | money }}</span>
                            {% endif %}

                    </div>
        </div>
       {% render 'proudct-grid-option-color' ,
    
        product: product, 
    
    %}


    </div>


  </div>


  <style>

.price-wrapper span {
    font-weight: 800;
    font-size: 13px;
    font-family: T-Star Pro;
}
.card-bottom-color-details p{
    font-weight: 800;
    font-size: 13px;
    font-family: T-Star Pro;
}
</style>