<a class="product-items d-block" href="{{ product.url }}">

<div class="collection_item">
    <div class="product_image_wrapper ">
      <a class="product-items" href="{{ product.url }}">
       
          <img
            class="product-item-img firstImage"
            src="{{ product.featured_image | img_url: 'master' }}"
            alt="{{ product.title }}">
          {% if product.images[1] %}
            <img
              class="product-item-img secondImage"
              src="{{ product.images[1] | product_img_url: 'master' }}"
              alt="{{ product.title }}">
  
          {% endif %}
           
      
          {% if product.metafields.custom.custom_badge_text %}
            <div class="proudct-sale-v1" style="background:{{ product.metafields.custom.custom_badge_color  }}">
              {{ product.metafields.custom.custom_badge_text }}
            </div>
          {% endif %}
          {% if product.compare_at_price > product.price %}
            <div class="proudct-sale-v2">
              On sale
            </div>
          {% endif %}
          
      </a>
      {% comment %} {% render 'proudct-grid-option-top',
        product: product,
    
    %} {% endcomment %}
    </div>

    <div class="product-item-p-text">
        <div class="d-flex justify-content-between align-items-top">
        
        
        
      <p class="product-item-text ">  <a class="product-items" href="{{ product.url }}"> {{ product.title }}</a> </p>
    

                <div class="price-wrapper">
                            {% if product.compare_at_price > product.price %}
                                <span class="sale-price">{{ product.price | money_without_trailing_zeros }}</span>
                                <span class="regular-price compare_at_price">
                                <del>{{ product.compare_at_price | money_without_trailing_zeros }}</del>
                                </span>
                            {% else %}
                                <span class="regular-price">{{ product.price | money }}</span>
                            {% endif %}

                    </div>
        </div>
        {% render 'proudct-grid-option-top-v2',
          product: product,
      
      %}
       {% render 'proudct-grid-option-color' ,
    
        product: product, 
    
    %}


    </div>


  </div>
</a>

  <style>

.price-wrapper span {
    font-weight: 800;
    font-size: 13px;
    font-family: T-Star Pro;
    line-height:1.2;

    @media only screen and (min-width: 780px)  {
      margin-left:10px;
    }
}
.card-bottom-color-details p{
    font-weight: 800;
    font-size: 13px;
    font-family: T-Star Pro;
}

.singel-top-option p {
  color: rgb(96, 88, 88);
}
.product-item-text-color{
  height:25px;
  line-height:25px;
 }
.card-product-wrapper-color {
width: 20px;
height: 20px;
display: inline-block;
background:#6F8FAF;
border-radius:30px;

}

.singel-top-option p {

  font-size: 13px;
  font-family: T-Star Pro;
}

.card-bottom-color-details{
position: relative;
}
.product-item-color{ 
position: absolute;
margin: 0 auto;
width: 100%;
height:100%;
bottom: 0;

opacity: 0;
visibility: hidden;
background-color: #fff;
transition: top 300ms ease 0s, opacity 300ms ease 0s, visibility 300ms ease 0s;

}


.collection_item:hover .product-item-color {
  opacity: 1;
  visibility: visible;
  }

  @media only screen and (max-width: 600px)  {


      .collection_item .product-item-color {
        opacity: 1;
  visibility: visible;
        }
  }
.card-bottom-color-details {
height: 30px;
}
</style>