{{ 'about.css' | asset_url | stylesheet_tag }}


<section class="space-bottom">
    <div class="container">
        <div class="story-image-area">
            <div class="img wow fadeInRight" data-wow-delay="0.2s">
                <img src="{{ section.settings.img | img_url:'' }}" alt="image">
            </div>
            <h2 class="story-big-text wow fadeInRight" data-wow-delay="0.4s">
                 {{ section.settings.title }}

            </h2>
        </div>
        <div class="row mtn-60">
            <div class="col-lg-6 align-self-center">
                <p class="fs-18 mb-4 wow fadeInUp" data-wow-delay="0.2s">{{ section.settings.des }}</p>
                <p class="fs-18 mb-4 wow fadeInUp" data-wow-delay="0.4s">{{ section.settings.text }}</p>
                <p class="fs-18 mb-0 wow fadeInUp" data-wow-delay="0.6s">{{ section.settings.text1 }}</p>
            </div>
            <div class="col-lg-5 offset-lg-1 wow fadeInUp" data-wow-delay="0.3s">
                <div class="mt-4">
                    <img class="w-100" src="{{ section.settings.img2 | img_url:'' }}" alt="Image">
                </div>
            </div>
        </div>
    </div>
</section>

{% schema %}
{
    "name": "Our story two",
    "class": "store",
    "settings": [
      {
          "type": "html",
  "id": "title",
        "label": "Section title"
      },
      {
        "type": "text",
        "id": "des",
        "label": "Description",
        "default": "Is a leading businesswoman, venture capitalist, entrepreneur, fashion designer, TV personality, author and philanthropist."
      },
      {
        "type": "image_picker",
        "id": "img",
        "label": "Our story Image"
      },
      {
        "type": "text",
        "id": "text",
        "label": "Description 01",
        "default": "Kimora began her career as a fashion model at the age of 13, and was soon on an exclusive contract with the House of Chanel, in addition to being on the covers and pages of international fashion magazines such as Vogue, Elle, and Harper’s Bazaar."
      },
      {
        "type": "image_picker",
        "id": "img2",
        "label": "Our story Image two"
      },
      {
        "type": "text",
        "id": "text1",
        "label": "Description 01",
        "default": "In 1999, Kimora launched the global lifestyle brand Baby Phat. As President and Founder of Phat Fashions – which included Baby Phat and its male equivalent, Phat Farm - she established the premier metropolitan collection of its generation."
      }
    ],
    "presets": [
        {
          "name": "About Our Store 2"
        }
      ]
}
{% endschema %}