
<div class="container">
<div class="row">
<div class="col-12">
  {% for c in section.blocks %}
    <div class="singel-campainwrapper">

        <div class="video-wrapper">
            <video muted autoplay loop playsinline>
            <source src="{{ c.settings.u.sources[1].url }}" type="video/mp4">
            </video>
        </div>
        <a href="{{ c.settings.url }}"> <h3>{{ c.settings.h2 }}</h3> </a>

        {% if c.settings.p != blank %}
            <p>{{ c.settings.p }}</p>
        {% endif %}
       
        <a href="{{ c.settings.url }}" class="btn">{{ c.settings.btn }}</a>

    </div>


  {% endfor %}



</div>
</div>
</div>



<style>
a.btn {
    background: transparent !important;
    FONT-SIZE: 16px;
    color: #000 !important;
    text-transform: uppercase;
    text-decoration: underline;
}

    .video-wrapper video {
        width: 100%;
    }
    h3 {
        font-size: 28px;
        font-weight: 900;
        line-height: 1;
        margin: 15px 0;
    }
    a.btn {
        padding: 11px 17px;
        background: black;
        FONT-SIZE: 16px;
        color: #FFF;
        text-transform: capitalize;
        line-height: 1;
    }
    .singel-campainwrapper {
        margin: 30px 0;
        text-align: center;
    }
</style>
{% schema %}
    {
        "name": "campaing",
        "class": "campaing",
        "blocks": [
            {
                "type": "campaing",
                "name": "campaing",
                "settings": [
                      
                      {
            
                        "id": "u",
                        "label": "Video Upload",
                        "type": "video"
                       },
                       {
                        "type": "text",
                        "id": "h2",
                        "label": "Campaing Title",
                        "default": "Baby Phat x Forever 21"
           
                       },
                       {
                        "type": "text",
                        "id": "p",
                        "label": "Decription"
                       },
                       {
                        "type": "text",
                        "id": "btn",
                        "label": "Butoon Title",
                        "default": "shop lookbook"
                       },
                       {
                        "type": "url",
                        "id": "url",
                        "label": "Connect the link"
                       }
                ]
            }
        ],
        "presets": [
            {
            "name": "campaing"

            }
        ]
        
    }
{% endschema %}
