<!-- panties-area strat -->

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<section class="x-container section-{{ section.id }}-padding">
<div class="row">
<div class="col-12">
  <div class="video-wrapper">
    <video muted autoplay loop playsinline>
      <source src="{{ section.settings.u.sources[1].url }}" type="video/mp4">
    </video>
  </div>
</div>
</div>
</section>
<!-- panties-area end -->

{% schema %}
    {
      "name": "Video",
      "settings": [
        {
          "type": "range",
          "id": "padding_top",
          "min": 0,
          "max": 100,
          "step": 4,
          "unit": "px",
          "label": "t:sections.all.padding.padding_top",
          "default": 36
        }, {
          "type": "range",
          "id": "padding_bottom",
          "min": 0,
          "max": 100,
          "step": 4,
          "unit": "px",
          "label": "t:sections.all.padding.padding_bottom",
          "default": 36
        },
         {

          "id": "u",
          "label": "Video Upload",
          "type": "video"
         }
         
      ],
        "presets": [
            {
            "name": "Video"

            }
        ]
    }
{% endschema %}

<style>

video {
  display: inline-block;
  width: 100%;
}
@media only screen and (min-width: 800px) {
  .video-wrapper{
    padding:0 200px
   }
}
</style>